/* Reset some default spacing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* background: linear-gradient(45deg, #ff6b6b, #4ecdc4); */
  /* background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%) */
  background: linear-gradient(90deg, rgba(0, 212, 255, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(2, 0, 36, 1) 100%);
}

.box {
  display: flex;
  max-width: 700px;
  margin: 100px auto;
  background: #fff;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

}

/* Left side text */
.content1 {
  text-align: center;
  flex: 1;
  background: skyblue;
  color: black;
  padding: 20px;
}

.content1 h1 {
  margin-bottom: 40px;

}

.content1 img{
  border-radius: 50%;
  margin-bottom: 20px;
  
}
.content1 p {
  line-height: 1.5;
}

/* Right side form */
.content2 {
  flex: 1;
  padding: 40px;
  align-items: flex-start;
  

}


form {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* aligns inputs left */
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  
}

input,
textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

button {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;

  transition: background-color 0.3s;
}

button:hover {
  background-color: darkblue;
}

/* Responsive for small screens */
@media (max-width: 700px) {
  .box {
    flex-direction: column;
  }
}