*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(0, 0, 33);
    color: #fff;
    
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(30, 30, 89);
    font-weight: 14px;
}

nav ul{
    display: flex;
    justify-content: center;
}

nav ul li{
    list-style: none;
    margin: 0 25px;
}

.left{
    font-size: 1.5rem;
}

.firstSection{
    display: flex;
    justify-content: space-around;
    margin: 23px 0;
}